# Virtual Environment
rasa_env/
venv/
.venv/

# Rasa Models and Logs
models/*.tar.gz
results/
.rasa/cache
.rasa/logs
credentials.json

# Python Cache
__pycache__/
*.pyc

# IDE and OS files
.idea/
.vscode/
*.DS_Store.config/
.keras/

# Add the file path to your .gitignore file
# This command appends the line to the file, creating it if it doesn't exist.
echo "actions/reminder.log" >> .gitignore
