recipe: default.v1
language: en

pipeline:
# 1. RegexEntityExtractor is added.
# It will find "start" or "stop" reliably BEFORE the ML model runs.
- name: WhitespaceTokenizer
- name: RegexEntityExtractor
  # Use 'name' to map the regex to your entity
  regexes:
  - name: reminder_action
    pattern: \b(start|begin|activate|turn on|resume|re-enable|continue|restart|stop|shut down|deactivate|cease|turn off|halt|disable|cancel)\b

- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 1
  max_ngram: 4
- name: DIETClassifier
  epochs: 100
  constrain_similarities: true
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 100

policies:
- name: MemoizationPolicy
- name: TEDPolicy
  max_history: 5
  epochs: 100
- name: RulePolicy
assistant_id: 20251026-182152-jet-block
